<link rel="stylesheet" href="css/cv.css">
<div ng-controller="CvController" style="height: 100%" id="cvMainDiv">
    <div class="cv-upper-pane">
        <div class="image"></div>
    <div class="cv-personal-details">
        <div class="cv-personal-entry"><span>name:</span>{{details.personal.name}} {{details.personal.surname}}</div>
        <!--<div class="cv-personal-entry">{</div>-->
        <div class="cv-personal-entry"><span>date of birth:</span>{{details.personal.birth}}</div>
        <div class="cv-personal-entry"><span>email:</span>{{details.personal.email}}</div>
        <div class="cv-personal-entry"><span>nationality:</span>{{details.personal.nationality}}</div>
    </div>
    </div>
    <div class="cv-education-section" >
        <div style="height: 100%;">
            <div id="cv_pos0" class="cv-default-entry" onclick="expandView(0)" style="height: 5% ">
                Education
                <div id="cv_pos_content0" class="cv-default-content">
                    Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
                </div>
            </div>
            <div id="cv_pos1" class="cv-default-entry" onclick="expandView(1)" style="height: 5%">
                Skills
                <div id="cv_pos_content1" class="cv-default-content">
                    Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
                </div>
            </div>
            <div id="cv_pos2" class="cv-default-entry" onclick="expandView(2)" style="height: 5%">
                Experience
                <div id="cv_pos_content2" class="cv-default-content">
                    Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker
                </div>
            </div>
        </div>
        <!--<div class="cv-section-header">Education + <span>Experience</span> + <span>Skills</span>  </div>-->
            <!--<div class="cv-default-entry" ng-repeat="(key, value) in details.education">-->

                <!--<p>{{value.date}}</p><br/><span></span></p>-->
                <!--&lt;!&ndash;<span>{{key}}</span> <span>{{value.name}}</span><span>{{value.description}}</span><span>{{value.date}}</span>&ndash;&gt;-->
            <!--</div>-->
    </div>
    <script>
        var entry_position = null;
        function expandView(num) {
            if (entry_position!==num) {
                if(entry_position === null){entry_position = num};
                entry_position = num;
                $("#cv_pos" + num).animate({height: "90%"}, 100, function () {
                });
                $("#cv_pos_content" + num).show();

                switch (num) {
                    case 0:
                        $("#cv_pos" + 1).animate({height: "5%"}, 100, function () {});
                        $("#cv_pos" + 2).animate({height: "5%"}, 100, function () {});
                        $("#cv_pos_content1").hide();
                        $("#cv_pos_content2").hide();
                        break;
                    case 1:
                        $("#cv_pos" + 0).animate({height: "5%"}, 100, function () {});
                        $("#cv_pos" + 2).animate({height: "5%"}, 100, function () {});
                        $("#cv_pos_content" + 0).hide();
                        $("#cv_pos_content" + 2).hide();
                        break;
                    case 2:
                        $("#cv_pos" + 0).animate({height: "5%"}, 100, function () {});
                        $("#cv_pos" + 1).animate({height: "5%"}, 100, function () {});
                        $("#cv_pos_content" + 0).hide();
                        $("#cv_pos_content" + 1).hide();
                        break;
                }

            }
            else{
                $("#cv_pos" + num).animate({height: "5%"}, 100, function () {});
                $("#cv_pos_content" + num).hide();
                entry_position = null;
            }
        }
        var mousewheelevt = (/Firefox/i.test(navigator.userAgent)) ? "DOMMouseScroll" : "mousewheel" ;

            $("#cvMainDiv").bind(mousewheelevt, function(e){
if(window.URL)
                var new_entry_position = entry_position;
                var evt = window.event || e ;//equalize event object
                evt = evt.originalEvent ? evt.originalEvent : evt; //convert to originalEvent if possible
                var delta = evt.detail ? evt.detail*(-40) : evt.wheelDelta //check for detail first, because it is used by Opera and FF

                if (entry_position === null) {
                    new_entry_position = 0;
                }
                else {
                    if (delta >= 0) {
                        if (entry_position > 0) {
                            new_entry_position = (entry_position - 1) % 3;
                        }
                    }
                    else {
                        if (entry_position < 2) {
                            new_entry_position = (entry_position + 1) % 3;
                        }
                    }
                }
                if(new_entry_position === entry_position) return;
                expandView(parseInt(new_entry_position));

            });


    </script>
</div>
